@import "tailwindcss";

@theme {
    --color-theme-dark: #121A21;
    --color-primary: #8C52FF;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
    font-family: var(--font-openSans);
    @apply  bg-neutral-50;
}

.dark {
    @apply bg-theme-dark;
}


@keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-animation {
    background: linear-gradient(90deg, hsla(260, 100%, 66%, 1) 0%, hsla(0, 90%, 63%, 1) 100%);
    background-size: 200% 100%;
    animation: wave 2s infinite linear;
}